body {
    background-color: azure;
    margin:0;
    overflow: hidden;
}
#mainframe {
    position:absolute;
    margin: auto;
    background-color: azure;
}
@media (orientation: portrait) {
    #mainframe {
        width: 100vw;
        height: 100vw;
        /* font-size: 2vw; */
    }
}
@media (orientation: landscape) {
    #mainframe {
        width: 100vh;
        height: 100vh;
        /* font-size: 2vh; */
    }
}

.mapframe {
    position: absolute;
    background-color:azure;
    width: 100%;
    height: 100%;
    font-size: 100%;
    /* transition: width 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out, font-size 0.5s ease-in-out; */
    transition:all 0.5s ease-in-out;
}

.tile {
    width: 2%;
    height: 2%;
    float:left;
    font-weight: bold;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    box-shadow: inset 0 0 0 0.25px;
}
.tile:hover {
    box-shadow: inset 0 0 0 1px black;
}
.tile:focus {
    box-shadow: inset 0 0 0 2px black;
}

.menu {
    width: 100%;
    opacity: 0;
    float:left;
    height: 10%;
    background-color: blue;
}
.menu button {
    width: 10%;
    float:left;
    height: 100%;
}
.menu button:hover {
    background-color: yellow;
}
.menu #taketurn {
    background-color: black;
    color:white
}

.infobox {
    width: 25%;
    height: 100%;
    background-color: black;   
    color: white;
    float:left;
    text-align: center;
}

.infobox p {
    font-size: 70%;
    margin: 0
}
.infobox p:hover {
    color: orange
}

.statebox {
    width: 25%;
    height: 100%;
    background-color: azure;
    color: white;
    float:left;    
    text-align: center
}
.statebox h1 {
    font-size: 120%;
    width: 100%;
    margin: 0;
    margin-top: 5%;
}
.statebox h2 {
    font-size: 90%;
    float:left;
    width: 100%;
}
.statebox div {
    height: 2%;
    background-color: green;
    float:left
}

.mapimage {
    position:fixed;
    left: 0;
    top: 10%;
    margin: 0;
    padding: 0;
    width: 110%;
}

.sea {background-color:azure;color:transparent;opacity:1} /* Sea */
.ccpl {background-color:red; color:white} /* Poland */
.ccde {background-color:black;color:yellow;} /* Germany */
.cces {background-color:orange;color:darkred;} /* Spain */
.ccpt {background-color:darkgreen;color:yellow;} /* Portugal */
.ccfr {background-color:blue;color:white;} /* France */
.ccgb {background-color:violet;color:darkblue;} /* Great Britain */
.ccir {background-color:green;color:red} /* Ireland */
.ccit {background-color:lightgreen;color:blue;} /* Italy */
.cccz {background-color:pink; color: darkred;} /* Czech Republic */
.ccsu {background-color:coral;color:grey;} /* Switzerland */
.ccau {background-color:darkred;color:white;} /* Austria */
.ccsk {background-color:blueviolet;color:lightblue ;} /* Slovakia */
.cclt {background-color:yellow;color:darkgreen;} /* Lithuania */
.cclv {background-color:brown;color:white;} /* Latvia */
.ccet {background-color:slateblue;color:lightblue;} /* Estonia */
.ccse {background-color:lightblue;color:yellow;} /* Sweden */
.ccno {background-color:chocolate;color:darkblue;} /* Norway */
.ccfi {background-color:lightgray;color:darkblue} /* Finland */
.ccdk {background-color:lightgray;color:red} /* Denmark */
.ccnl {background-color:darkorange;color:darkblue;} /* Netherlands */
.ccbe {background-color:darkgray;color:darkred;} /* Belgium */
.cchu {background-color:mediumseagreen;color:coral;} /* Hungary */
.ccbl {background-color:salmon;color:green;} /* Belarus */
.ccua {background-color:aqua;color:yellow;} /* Ukraine */
.ccru {background-color:pink;color:blue} /* Russia */
.cctu {background-color:lightcoral;color:white} /* Turkey */
.ccgr {background-color:lightblue;color:blue;} /* Greece */
.ccml {background-color:beige;color:darkred} /* Moldova */
.ccbg {background-color:greenyellow;color:darkgreen;} /* Bulgaria */
.ccal {background-color:lightpink;color:black} /* Albania */
.ccro {background-color:olive;color:lightblue} /* Romania */
.ccsv {background-color:cadetblue;color:lightgreen} /* Slovenia */
.cccr {background-color:navy;color:red} /* Croatia */
.ccbs {background-color:darkturquoise;color:darkgreen} /* Bosnia */
.ccsr {background-color:aquamarine;color:darkblue} /* Serbia */
.ccko {background-color:cornflowerblue;color:white} /* Kosovo */
.land {color:grey;}

.cc01 {background-color: black;color:red;}
.cc02 {background-color: black;color:lightblue;}
.cc03 {background-color: red;color:black;}
.cc04 {background-color: red;color:yellow;}
.cc05 {background-color: blue;color:black;}
.cc06 {background-color: blue;color:green;}
.cc07 {background-color: green;color:black;}
.cc08 {background-color: yellow;color:grey;}
.cc09 {background-color: orange;color:blue;}
.cc00 {background-color: white;color:red;}

.dd01{background-color: red;color:black}
.dd02{background-color: blue;color:white}
.dd03{background-color: yellow;color:black}
.dd04{background-color: orange;color:darkred}
.dd05{background-color: black;color:white}
.dd06{background-color: green;color:white}
.dd07{background-color: lightblue;color:black}
.dd08{background-color: pink;color:black}
.dd09{background-color: brown;color:red}
.dd10{background-color: cyan;color:red}

@keyframes tilelight {
   50% {
        background-color: gold;
        color: black;
        box-shadow: inset 0 0 0 1px;
   } 
}

.neighfocus {
    animation-name: tilelight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.popup {
    width: 90%;
    height: 80%;
    background-color: grey;
    position: absolute;
    top: 15%;
    left: 5%;
    opacity: 0.8;
    overflow: auto;
    overflow-x: hidden;
}
.popup h1 {
    text-align: center;
    margin: 0;
    color: white
}
.popup h2 {
    position:relative;
    left: 40%;
    text-align: center;
    font-size: 80%;
    width: 20%;
    color:white;
    margin: 0;
}

.popup .my {
    background-color: red;
}
.popup input {
    width: 50%;
    height: 5%;
    margin-left: 25%;
    padding: 0;
    border: 0;
    text-align: center;
}
.popup h5 {
    text-align: center;
    width: 100%;
    color:white
}
.popup #cntgraph {
    width: 90%;
    margin: auto;
    height: 35%;
    margin-bottom: 1%;
    background-color: black;
}
.popup #powgraph {
    width: 90%;
    margin: auto;
    height: 35%;
    background-color: black;
}

#pile1 {
    border-bottom: 2px solid red;
    color: white;
    text-align: center;
    vertical-align: bottom;
}
#pile2 {
    border-bottom: 2px solid green;
    color: white;
    text-align: center;
    vertical-align: bottom;
}

.exitbut {
    font-size: 150%;
    color: white;
    font-family: monospace;
    font-weight: bold;
    width: 4%;
    height: 4%;
    text-align: center;
    left: 96%;
    border-color: yellow;
    position:relative
}
.exitbut:hover {
    color: red
}

.handbox {
    background-color: transparent;
    position: absolute;
    left: 0%;
    top: 90%;
    width: 60%;
    height: 10%;
    opacity: 0.5;
}
.handbox h1 {
    font-size: 80%;
    text-align: center;
    width: 100%;
    margin: 0;
}
.handbox h2 {
    font-size: 80%;
    width: 33%;
    float:left;
    margin: 0;
    text-align: center;
}

@keyframes showaly {
    50% {background-color: brown; color:black}
}

.showally {
    animation-name: showaly;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.welcomebox {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    text-align: center;
    color: white;
}
.welcomebox button {
    width: 33.33%;
    height: 5%;
    float:left;
    margin-top: 5%;
}
.lgdiv-div {
    background-color: black;
    float:left;
    height: 20%;
    width: 100%;
}
#lgdiv p {
    height: 100%;
    float:left;
    line-height: 150%;
}
#lgdiv button {
    height: 100%;
    margin-top: 0;;
}
.welcomebox div {
    background-color: black;
    height: 50%;
    opacity: 0;
    float:left;
    width: 33.33%;
}
.welcomebox select {
    width: 50%;
    height: 5%;
    text-align: center;
}

@keyframes rolldowndiv {
    0% {opacity: 0}
    100% {opacity: 1;}
}
@keyframes rollupdiv {
    0% {opacity: 1}
    100% {opacity: 0;}
}
.rolldownanim {
    animation-name: rolldowndiv;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
.rollupanim {
    animation-name: rollupdiv;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
#startbut {
    height: 10%;
    margin-top: 20%;
}
.savebutton {
    float:left;
    position: absolute;
    background-color: transparent;
    top: 90%;
    left: 90%;
    width: 10%;
    height: 10%;
}
.savebox {
    background-color: black;
    color: white;
    text-align: center;
    opacity: 0.9;
    position:absolute;
    line-height: 200%;
    top: 30%;
    width: 40%;
    height: 60%;
    left: 60%;
}
.saveboxslot {
    width: 100%;
    height: 20%;
    float:left;
    background-color: transparent;
}
.saveboxslot:hover {
    background-color: red;
}
.saveboxslotempty {
    background-color: grey;
}

.saveboxbutton {
    width: 40%;
    height: 10%;
}
.saveboxbutton:hover {
    background-color: red;
    color: white;
}

.nb_box {
    background-color: transparent;
    width: 30%;
    height: 10%;
    position: absolute;
    left: 60%;
    top: 90%;
    color: black;
    overflow: hidden;
}

.nb_msg {
    margin: 0;
    font-size: 70%;
}

.th_box {
    width: 2.439%;
    background-color: white;
    height: 80%;
    position:absolute;
    left: 0;
    top: 10%;
}

.du-renderupload {
    
}